language: python
python:
  - 2.7
  - 3.4
  - 3.5
notifications:
  email: false
 
# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-2.2.2-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/anaconda/bin:$PATH
  # Update conda itself
  - conda config --add channels conda-canary
  - conda config --remove channels defaults
  - conda update -q conda
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm

  # Install packages
install:
  - conda create --yes -n env_name python=$TRAVIS_PYTHON_VERSION pip nose numpy scipy matplotlib networkx ipython
  - source activate env_name
  - pip install --allow-all-external -r requirements.txt
  - pip install coveralls
 
script:
  nosetests --with-coverage --cover-package=Goulib
after_success:
  coveralls
