dist: xenial
sudo: true
language: python

python:
  - 3.5
  - 3.6
  - 3.7

notifications:
  email: false
 
# Setup anaconda
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  # Update conda itself
  - conda update --yes conda

  # Install packages
install:
  - conda create --yes -n env_name python=$TRAVIS_PYTHON_VERSION pip nose numpy scipy matplotlib networkx ipython
  - source activate env_name
  - pip install -r requirements.txt
  - pip install coveralls
 
script:
  nosetests -c nose.cfg
after_success:
  - coveralls
  - test $TRAVIS_BRANCH = "master" && conda install conda-build && conda install anaconda-client && bash conda/conda_upload.sh
