    networkx
    numpy
    scikit-image
    scipy
    pygraphviz
    graphviz
    ipython
    lxml
    xlrd
    xlsxwriter
    dxfgrabber
    dxfwrite
    svg.path
    tinycss
    pdfminer
    sortedcollections
    bitarray
    pint
    pillow
    matplotlib