scipy
networkx
pydot
pydotplus
graphviz
six
ipython
lxml
xlrd
xlsxwriter
dxfgrabber
dxfwrite
svg.path
pdfminer.six
sortedcollections
pint
nose       
sphinx
scikit-image
pillow>=4.3.0
matplotlib>=2.0.0